.col-lg-2.col-lg-offset-2.text-center
  %i.fa.fa-phone.fa-3x.sr-contact
  %p
    %a{href: "tel:+79122588473"} +7 (912) 258-84-73

.col-lg-2.text-center
  %i.fa.fa-instagram.fa-3x.sr-contact
  %p
    %a{href: "https://www.instagram.com/joy.epil/"} @joy.epil

.col-lg-2.text-center
  %i.fa.fa-vk.fa-3x.sr-contact
  %p
    %a{href: "https://vk.com/joyepil"} vk.com/joyepil

.col-lg-2.text-center
  %i.fa.fa-envelope-o.fa-3x.sr-contact
  %p
    %a{:href => "mailto:merkushina.d.a@mail.ru"} merkushina.d.a@mail.ru
